<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Shares>
    <Share Name="Downloads" Path="C:\Downloads">
      <ReadAccess Accounts="*"></ReadAccess>
      <WriteAccess Accounts="Admin,Test"></WriteAccess>
    </Share>
  </Shares>
  <Users>
    <User AccountName="Admin" Password="admin"></User>
    <User AccountName="Guest" Password=""></User>
    <User AccountName="Test" Password="test"></User>
  </Users>
  <Ports NetBIOS="139" Direct="1445" Choosen="Direct" SMB1="1" SMB2="1" IntegratedWindowsAuth="1"/>  
  <Autorun Start="1" IP="Any" Minimized="1" />
</Settings>